.content{
   width: 736px;
   height: 287px;
   margin:0 auto;
   position: relative;
}
.infoTask{
 
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top:3rem;

  border-bottom: 1px solid var(--gray-200);
}
.tasks{
 
  position: absolute;
  top:50%;
  left: 25%;

}

.detailsTask{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
  background: var(--gray-500);
  color: var(--gray-100);

  padding: 1rem;

  margin-top: 1rem;

  border-radius: 4px;
}
.detailsTask input[type='checkbox']{
  width: 20px;
  height: 20px;
}
.isComplete{
  text-decoration: line-through;
}
.isNotComplete{
  text-decoration: none;
}
.detailsTask label{
  padding-left:1rem ;  
  
}
