.content{
   max-width: 736px;
   height: 287px;
   margin:0 auto;
 
}
.infoTask{
 
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top:3rem;
  border-bottom: 1px solid var(--gray-200);
  color:var(--gray-100);
}
.tasks{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 100px;
 justify-content: center;
 color: var(--gray-100);

}

.detailsTask{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
  background: var(--gray-500);
  color: var(--gray-100);

  padding: 1rem;

  margin-top: 1rem;

  border-radius: 4px;
}
.detailsTask input[type='checkbox']{
  width: 20px;
  height: 20px;
}
.isComplete{
  text-decoration: line-through;
}
.isNotComplete{
  text-decoration: none;
}
.detailsTask label{
  padding-left:1rem ;  
  
}
